Drive LangChain (7).json
{
  "name": "Drive LangChain",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "45ca3870-8253-4e6c-aaf8-a2d5fc943213",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -64,
        -1088
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "9Zjvb5BJ1pcoYkUO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.sessionId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "b64b6396-7ea6-485d-a9ac-1203ca58fde5",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        528,
        -1168
      ],
      "typeVersion": 1.1,
      "webhookId": "0d0f77b1-076b-4954-888e-b5bc98b66f02",
      "credentials": {
        "telegramApi": {
          "id": "usUZrsJeQOdPUAOi",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}\n",
        "text": "={{ $('AI Agent').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "c92d80cb-64d1-4b34-81d5-72299ced4e4c",
      "name": "Correct errors",
      "type": "n8n-nodes-base.telegram",
      "position": [
        768,
        -1136
      ],
      "typeVersion": 1.1,
      "webhookId": "e33e0672-4a19-448a-817c-91bb2b859525",
      "credentials": {
        "telegramApi": {
          "id": "usUZrsJeQOdPUAOi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Anda adalah \"Dosen Pembimbing Virtual\", asisten akademis cerdas yang membantu mahasiswa menyusun skripsi/tesis. Karakter Anda: Objektif, Akademis, Teliti, namun Suportif.\n\nTUGAS UTAMA ANDA:\n1. Menjawab pertanyaan seputar metodologi penelitian, format penulisan, dan aturan akademik.\n2. WAJIB SELALU menggunakan tool \"Pinecone Vector Store\" terlebih dahulu untuk mencari jawaban di dalam \"Buku Pedoman\" atau \"Jurnal Referensi\" sebelum menjawab.\n3. Jangan mengarang fakta. Jika informasi tidak ditemukan di dokumen Pinecone, katakan: \"Maaf, informasi spesifik ini tidak ditemukan dalam buku pedoman yang saya miliki. Namun, secara umum praktik akademisnya adalah...\"\n\nATURAN GAYA BAHASA:\n- Gunakan Bahasa Indonesia yang baku dan formal.\n- Gunakan istilah akademis yang tepat (misal: \"signifikansi\", \"variabel\", \"hipotesis\").\n- Jika mengutip aturan, sebutkan sumbernya (misal: \"Berdasarkan Buku Pedoman Bab 3...\").\n\nSITUASI KHUSUS:\n- Jika mahasiswa minta dibuatkan Judul: Tanya dulu minat/topik mereka, lalu sarankan judul yang realistis dan ada referensinya.\n- Jika mahasiswa curhat/mengeluh: Berikan motivasi singkat layaknya dosen yang bijak.\n\n-Jika dokumen berisi tabel jadwal atau kalender, perhatikan dengan teliti hubungan antara kolom Tanggal, Kegiatan, dan Keterangan. Jangan menjawab 'tidak tahu' sebelum memeriksa seluruh potongan teks yang tersedia."
        }
      },
      "id": "2443caa6-86d9-4aeb-a6f7-a530fabdc0aa",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        -1296
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        -1296
      ],
      "id": "09cb852f-196e-4f68-a95b-52be6f05805e",
      "name": "Telegram Trigger",
      "webhookId": "f7b24e5c-6669-4601-bc0b-30f3d4ca7c00",
      "credentials": {
        "telegramApi": {
          "id": "usUZrsJeQOdPUAOi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bc3934df-8d10-48df-9960-f0db1e806328",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -1088
      ],
      "id": "6dd6c60f-f385-4f69-99c0-d9a13603c040",
      "name": "Webhook",
      "webhookId": "bc3934df-8d10-48df-9960-f0db1e806328"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { output: $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        -1328
      ],
      "id": "841824f0-b92a-4e09-a9d7-5ec1dc4f2c91",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        -784
      ],
      "id": "8fd6c2fe-1e48-4ad8-aafe-53b403376a4d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9Zjvb5BJ1pcoYkUO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.sessionId || 'session-test-01' }}",
        "tableName": "chat_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -48,
        -912
      ],
      "id": "cf11eed8-a67a-4911-84d2-b31a0d5ec1df",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "mUJmyRRVCmo8qwLO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0fab176b-0a8c-4f35-adb2-2c9e11c3cbd9",
              "leftValue": "={{ $('Edit Fields').first().json.sumber }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        -1264
      ],
      "id": "8d3af4c1-f248-4588-a702-37342fc26115",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41c32b85-d0e9-403c-8478-ec9d4f9ab890",
              "name": "chatInput",
              "value": "={{ $json.body?.chatInput || $json.message?.text }}",
              "type": "string"
            },
            {
              "id": "c5e4dd58-cc6d-40e6-ae47-11ffa9866849",
              "name": "sessionId",
              "value": "{{ $json.body?.sessionId || $json.message?.chat?.id || 'session-manual-01' }}",
              "type": "string"
            },
            {
              "id": "5a863a37-0235-4d6e-ade8-08c72f146b6e",
              "name": "sumber",
              "value": "={{ $json.message ? 'telegram' : 'webhook' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -1248
      ],
      "id": "841b18c0-9fcc-4ead-9c47-93aee9fbea47",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index-v2",
          "mode": "list",
          "cachedResultName": "rag-index-v2"
        },
        "options": {}
      },
      "id": "6570a3f0-34bb-4c77-81f6-b86574b910a9",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        480,
        -2016
      ],
      "typeVersion": 1.1,
      "credentials": {
        "pineconeApi": {
          "id": "JoZAugJ1sdCTdfmB",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "139cad09-da2f-4fb7-b07c-bdbf5d75b8a5",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        368,
        -1760
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "9Zjvb5BJ1pcoYkUO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "04b76c67-d45d-4a7d-a6c9-2e9a2e0a5cfe",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        528,
        -1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "52a248e6-10ec-4128-8ad5-45544cbfb449",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        608,
        -1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SJ05oz22rhFA3_kMq6PE2wmBH_HjdyGb",
            "mode": "list",
            "cachedResultName": "DATA LEKTURA AI",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SJ05oz22rhFA3_kMq6PE2wmBH_HjdyGb"
          }
        },
        "options": {}
      },
      "id": "3e2e5e72-cc00-47c8-aa56-c03a17214578",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        48,
        -2032
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z3El4GggGIm6WTV2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "9abb51ec-dac2-457b-a75b-c58a75bfe484",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        224,
        -2032
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z3El4GggGIm6WTV2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -2032
      ],
      "id": "c13f814a-9d99-4470-811a-65cee76fd2d8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8c4eb038-c76a-4632-993e-ad56c6cb1a84",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -928,
        -1888
      ],
      "id": "94e128fb-f427-48eb-bb80-c35ae38522bc",
      "name": "Webhook upload",
      "webhookId": "8c4eb038-c76a-4632-993e-ad56c6cb1a84"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -512,
        -1472
      ],
      "id": "7f47f308-61e3-4752-b1a7-4c7b6a5c4b97",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "998dc55f-f0ec-4468-9e91-76b1cf84898a",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -752,
        -1584
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "9Zjvb5BJ1pcoYkUO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "933285a9-aee8-432f-979c-196b5f2503c4",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -480,
        -1712
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool retrieves relevant context from Pinecone based on the user's query by performing vector similarity search.\n\nWAJIB gunakan tool ini untuk semua pertanyaan tentang fakta, informasi, presiden, sejarah, teknologi, atau data spesifik apapun. Selalu cari di knowledge base terlebih dahulu sebelum menjawab.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index-v2",
          "mode": "list",
          "cachedResultName": "rag-index-v2"
        },
        "options": {
          "pineconeNamespace": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        -992
      ],
      "id": "45611582-f35b-4172-91ad-596c5387efd1",
      "name": "Pinecone Vector Store chat",
      "credentials": {
        "pineconeApi": {
          "id": "JoZAugJ1sdCTdfmB",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index-v2",
          "mode": "list",
          "cachedResultName": "rag-index-v2"
        },
        "options": {
          "pineconeNamespace": ""
        }
      },
      "id": "d39dcf0d-f258-4976-833e-86b2b7350cc3",
      "name": "Pinecone Vector Store upload",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -736,
        -1936
      ],
      "typeVersion": 1.1,
      "credentials": {
        "pineconeApi": {
          "id": "JoZAugJ1sdCTdfmB",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [],
        [
          {
            "node": "Correct errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store chat",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook upload": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store upload",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store upload",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store chat": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c94af19d-d48a-4b4a-86bd-3cbe18d22e85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7409ae57d80150035089b98178b5254e7b13d57773324f853f910cfe6414d7d9"
  },
  "id": "NeTS6OrpJyPGh8YT",
  "tags": []
}